*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightblue;
    padding: 1rem;
}



.logo img{
    width: 4rem;
}
.enlaces{
    display: flex;
    gap: 1rem;
}
.enlaces a{
    text-decoration: none;
    font-size: 1.5rem;
}

@media (max-width:700px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .enlaces{
        flex-direction: column;
        text-align: center;
    }
    .enlaces a:hover{
        background-color: rgb(13, 147, 230);
        color: black;
    }
}

.container-about{
    background-color: lightsteelblue;
    padding: 1rem;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me img{
    width: 30rem;
}

.proyectos{
    margin: 0;
    background-color: rgb(44, 182, 228);
    padding: 1rem;
}


#contacto{
    background-color: lightblue;
    padding: 1rem;
}

footer{
    background-color: black;
}




